meshrenderer

.deps/
.libs/
*.d

Makefile
Makefile.in
/autom4te.cache/
/aclocal.m4
/compile
/config.guess
/config.h
/config.h.in
/config.log
/config.status
/config.sub
/configure
auxx/depcomp
auxx/install-sh
/ltmain.sh
auxx/missing
/stamp-h1
libtool

# OS/IDEs
.DS_Store
.vscode/
.idea/
